table{
    border :1px solid black;
    padding : 5px;
}
table th {
    padding: 10px;
    border: 1px solid black;
}
table td {
    padding: 10px;
    border: 1px solid black;
}
.search_box{
padding: 10px;
}